@tailwind base;
@tailwind components;
@tailwind utilities;
.notion-title {
  display: none;
}

.notion-page-cover-wrapper {
  height: 10vh !important;
}
.notion-page-cover-wrapper img {
  height: 10vh !important;
}
.notion-header {
  visibility: hidden;
}
.notion.notion-app {
  background: inherit !important;
}
.notion {
  color: inherit !important;
}
.notion-external-title {
  color: inherit !important;
}
a.notion-page-link {
  text-decoration: none !important;
}
a.notion-page-link:hover {
  @apply hover:!text-primary-400;
}

.notion-bookmark-description {
  @apply !text-gray-600;
  @apply dark:!text-gray-400;
}
.notion-bookmark-title {
  @apply !text-black;
  @apply dark:!text-white;
  @apply hover:!text-primary-light;
}
.notion-bookmark-link-text {
  @apply !text-black;
  @apply dark:!text-gray-50;
}
.notion-page-cover-wrapper {
  filter: brightness(0);
  @apply dark:brightness-200;
}
.notion-bookmark {
  @apply !no-underline;
}
img.notion-page-icon {
  filter: brightness(0);
  @apply dark:brightness-200;
}
.notion-text {
  /* @apply dark:text-white; */
}

.notion-table-view {
  min-width: none !important;
}
.notion-table-row {
  @apply !border-b-black;
  @apply dark:!border-b-white;
}
.notion-table-view-header-cell-inner {
  @apply !border-r-black;
  @apply dark:!border-r-white;
}
.notion-collection-column-title {
  @apply text-black;
  @apply dark:text-white;
}
.notion-table-cell {
  @apply !border-r-black;
  @apply dark:!border-r-white;
}
.notion-table-header-inner {
  @apply !border-b-black;
  @apply dark:!border-b-white;
  @apply !border-t-black;
  @apply dark:!border-t-white;
}

a.notion-page-link {
  @apply !no-underline;
  @apply !text-black;
  @apply dark:!text-white;
}

main.notion-page {
  @apply !p-0;
}
.notion-table-view {
  @apply !p-0;
}
.notion-collection {
  @apply !self-start;
}
.notion-page-title-text {
  @apply !no-underline;
}
